streamlit
pymupdf
google-generativeai
pandas
faiss-cpu
langchain-community
python-docx
ollama
google-cloud-vision
pillow
python-dotenv
sentence-transformers
openpyxl
PyPDF2
pptx 
langchain_huggingface
langchain.docstore.document
docx
pickle
fitz
time
os
