streamlit
pymupdf
google-generativeai
pandas
faiss-cpu
python-docx
ollama
google-cloud-vision
pillow
python-dotenv
sentence-transformers
openpyxl
PyPDF2
python-pptx 
docx
pickle
fitz
time
os
langchain-community



